@model IEnumerable<Studfile.Models.ViewModels.KolegijWithSeminarViewModel>
@{
    ViewBag.Title = "Index";
}
<h2>Pregled kolegija i tema</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kolegij.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seminar.TemaSeminara)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kolegij.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seminar.TemaSeminara)
            </td>
            <td>
                <a href="@Url.Action("OdaberiKolegij", new { kolegijId = item.kolegij.Id })">Odaberi kolegij</a>
            </td>
        </tr>
    }
</table>