@model IEnumerable<Studfile.Models.ViewModels.SeminarDatumListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Odabrani seminari</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kolegij.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seminar.TemaSeminara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tim.Naziv)
        </th>
        <th>
            Studenti
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeminarDatum.TerminIzlaganja)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kolegij.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seminar.TemaSeminara)
            </td>
            <td>
                @if (item.Tim != null)
                {

                    <span>@item.Tim.Naziv</span>

                }
                else
                {
                    <span>Nije dodjeljen tim</span>
                }
            </td>
            <td>
                @foreach( var student in item.Studenti)
                {
                    <span>@student.Ime @student.Prezime (@student.JMBAG)</span><br/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeminarDatum.TerminIzlaganja)
            </td>
        </tr>
    }

</table>